.features71-layout226 {
  width: 100%;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-sixunits);
  padding-right: var(--dl-space-space-sixunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
}
.features71-max-width {
  align-self: flex-start;
}
.features71-content {
  align-self: flex-start;
}
.features71-title1 {
  align-self: flex-start;
  text-align: left;
  font-family: "MailartRubberstamp-Regular";
}
.features71-description1 {
  text-align: left;
  font-family: "Georgia";
}
.features71-column1 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
}
.features71-content1 {
  align-self: flex-start;
}
.features71-title3 {
  align-self: flex-start;
  text-align: left;
  font-family: "MailartRubberstamp-Regular";
}
.features71-description3 {
  text-align: left;
  font-family: "Georgia";
}
@media(max-width: 991px) {
  .features71-content {
    align-items: center;
  }
  .features71-content1 {
    align-items: center;
  }
}
